@import "@/app/mixins.scss";
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  gap: var(--spacing-xl);
  width: 100%;
  @include maxScreenWidth;
  padding: 60px var(--spacing-lg);

  * {
    cursor: default;
  }

  .sections {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);

    .section {
      .list {
        padding-left: var(--spacing-lg);
        a {
          font-size: var(--typography-body1-font-size);
        }
        a:hover {
          cursor: pointer;
        }
      }
    }
  }
}
