@import "@/app/mixins.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  * {
    cursor: default;
  }

  .tools {
    background-color: var(--color-navy-blue-800);
    width: 100%;
    .content {
      width: 100%;
      @include maxScreenWidth;
      padding: 120px var(--spacing-lg);
      display: flex;
      flex-direction: column;
      gap: var(--spacing-3xxl);
      .toolsTitle {
        max-width: 753px;
      }
      .cards {
        display: grid;
        grid-template-columns: 1fr;
        @media screen and (min-width: 768px) {
          grid-template-columns: 1fr 1fr;
        }
        flex-wrap: wrap;
        gap: var(--spacing-xl);

        .card {
          display: flex;
          gap: var(--spacing-lg);
          justify-content: flex-start;
          background: var(--color-white);
          border-radius: var(--border-radius-sm);
          justify-content: space-between;
          padding: var(--spacing-xl) var(--spacing-3xxl);
          .image {
            position: relative;
            border-radius: 8px;
            overflow: hidden;
            .icon {
              path {
                fill: var(--color-navy-blue-800);
              }
            }
          }

          .center {
            display: flex;
            flex: 1;
            flex-direction: column;
            gap: var(--spacing-lg);
            .title {
            }
            .text {
            }
            .list {
              padding-left: var(--spacing-lg);
              list-style: square;
              flex: 1;
            }
            button {
              padding-left: 40px;
              padding-right: 40px;
            }
          }

          .icon {
            display: grid;
            place-items: center;
            width: 75px;
            height: 75px;
            cursor: pointer;
            background: none;
            border: none;
            outline: none;
            transition: transform 300ms ease;
            * {
              cursor: pointer;
            }
            svg {
              width: 33.17px;
              height: 18.8px;
            }
            &.rotate {
              transform: rotateX(180deg);
            }
          }
        }
      }
    }
  }
  .offering {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: #ebeef5;
    padding: 120px var(--spacing-lg);
    gap: 73px;

    .offeringTitle {
      max-width: 1300px;
      margin: 0 auto;
    }
    .cards {
      display: flex;
      gap: 20px;
      width: 100%;
      @include maxScreenWidth;
      padding: 0 var(--spacing-lg);
      flex-direction: column;
      @media screen and (min-width: 768px) {
        flex-direction: row;
      }

      .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 16px;
        padding: 20px 16px 38px 16px;
        background: var(--color-white);
        transition: transform 150ms ease-in-out;
        &:hover {
          transform: scale(1.01);
        }
        .icon {
          display: grid;
          place-items: center;
          width: 110px;
          height: 110px;
        }

        .separator {
          height: 6px;
          width: 55%;
          margin: 0 auto;
          border-radius: 8px;
        }
        button {
          margin: 0 auto;
        }
      }
    }
  }
}
